/* start-style:: Customization primary Color */
:root {
  --bs-primary-rgb: 244, 98, 58;
}

.nav-link:hover,
.nav-link:focus {
  --bs-nav-link-hover-color: rgb(244, 98, 58);
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  --bs-navbar-active-color: rgb(244, 98, 58);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f4623a;
  --bs-btn-border-color: #f4623a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cf5331;
  --bs-btn-hover-border-color: #c34e2e;
  --bs-btn-focus-shadow-rgb: 246, 122, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c34e2e;
  --bs-btn-active-border-color: #b74a2c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f4623a;
  --bs-btn-disabled-border-color: #f4623a;
}
/* end-style:: Customization primary Color */
/* start-style:: Typography  */
body {
  --bs-body-font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
}

.font-heading {
  font-family: "Merriweather Sans", sans-serif;
}

.font-text {
  font-family: "Merriweather", sans-serif;
}
/* end-style:: Typography */

/*  Navigation */

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}
/* header */
header.masthead {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../../assets/images/hero/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
hr.divider {
  border: 0;
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  opacity: 1;
}
/* About */
.page-section {
  padding: 8rem 0;
}
/* Portfolio- */

.portfolio-card__caption {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.portfolio-card:hover .portfolio-card__caption {
  opacity: 1;
}
